{
  "root": true,

  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "plugins": ["@typescript-eslint"],

  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],

  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },

    "import/resolver": {
      "typescript": {}
    }
  },

  "rules": {
    "no-plusplus": "off",
    "arrow-parens": ["error", "as-needed"],
    "quote-props": ["error", "as-needed"],

    "@typescript-eslint/explicit-function-return-type": ["error", {
      "allowExpressions": true
    }],
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "none"
      }
    }],
    "@typescript-eslint/semi": ["error", "never"],

    "import/no-default-export": "error",
    "import/prefer-default-export": "off",

    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off"
  }
}
